* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*OJO CON ESTE PADDING PARA IMAGEN BACKGROUND*/
  /*padding: 0 64px;*/
  font-family: 'Lato', sans-serif;
  }
  
  html, body{
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color: #464646;
    background-color: #EEEEEE;
    /* para poner padding en los costados de la web */
  }

/* ----------HEADER y NAV-------------- */ 

  .logoHeader {
    /*para centrar un logo es display block y margin auto, no textalign pq no es texto */
    display: block;
    margin: 0 auto;
    width: 250px;
    height: auto;
  }

  nav li {
    display: inline;
    text-align: center;  
    color: #464646;
  }

  nav ul{
    list-style-type: none;
    text-align: center;
    margin: 20px;
  }

  .headerNavAnchor {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #464646;
  margin-left: 10px;
  }


/* --------- adaptación IMG ---------*/

  /*para que la imagen se adapte a lo ancho de la pantalla en cualquier dispositivo, debe ser 100*/
  img {
    width: 100%;
  }

/*parte de cabecera con imagen de fondo */

/*MUY IMPORTANTE */
.postContentHeader {
  width: 100%;
  height: 300px; 
  /*esto hbrá que ambiarlo por background-image con la url de github */
  background-color: darkslategrey;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /*relativa*/
  position: relative;
  padding: 0;
}

.textContentHeader {
  background-color: #EEEEEE;
  width: 70%;
  text-align: center;
  align-content: center;
  margin: 0 auto;
  /*absoluta respecto al postcontentheader*/
  position: absolute;
  left: 15%; 
  bottom: 0;
  padding: 3rem 2.5rem;
}

  h1 {
    display: block;
  }

  /* -----------CONTENIDO POST -------- */

  .postDescription p {
    margin: 1.5rem 0;
    text-align: justify;
    padding: 0 16%;
    font-weight: 100;
  }
  
  .postContent 
  {
    padding: 1.5rem;
  }

  .chocolateImage {
    padding: 0 20%;
    margin-bottom: 1em;
  }

  .section {
    padding: 5% 5%;
    background-color: white;
    margin: 0 16% 0 16%;
  } 

  .sectionRecipe li {
    list-style: none;
    font-weight: 100;
  }
  .sectionRecipe li:nth-child(5){
    margin-bottom: 1rem;
  }
  .sectionRecipe li:nth-child(2){
    margin-bottom: 1rem;
  }

  h3, h2{
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  hr {
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 10%;
  }

  .sectionSteps li {
    margin-left: 2%;
    padding-bottom: 1%;
    text-align:inherit;
    font-weight: 100;
  }

  .sectionTips li {
    margin-left: 2%;
    padding-bottom: 1%;
    text-align: inherit;
    font-weight: 100;
  }

    /*----------FOOTER----------- */
    .footerLogo {
      width: 100px; 
      display: block;
      margin: auto;
    }
    .copyRight {
      text-align: center;
      font-family: 'Lato', sans-serif;
      font-size: small;
    }